body{font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; max-width: 800px; margin: auto; padding: 0px 3px 0px 3px}
img{max-width:100%}
h1{font-size: x-large; color: #EA0029; font-weight: bold}
h1.DocTitle{font-size: xx-large; text-transform: uppercase; margin-bottom: 0px}
h1.DocSubtitle{color:#323E48; margin-top: 0px}
h2{font-size: larger; color: #323E48}
h3{font-size: larger; color: #323E48; font-style: italic; font-weight: normal}
p{color: black}
p.DocAbstract{font-style:italic}
p.DocCaption{font-size: smaller; margin-top: 0px}
